.body{
    background-color:aliceblue
}
#container {
    display: flex;
    flex-direction: column;
    align-content: space-around;
    flex-wrap: wrap;
}
h1 {
    display: flex;
    padding: 0px 20px 0px 20px;
    justify-content: center;
    text-align: center;
    letter-spacing: 1rem;
    transition: 1s;
    border-radius: 10px;
    margin-left: 100px;
    margin-right: 100px;
    /* padding-top: 2%;
    padding-bottom: 2%; */
    font-size: 200%;
    -webkit-text-stroke: 0.7px rgb (0, 0 ,0 );
}
#colorDisplay {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    letter-spacing: 7px;
    text-align: center;
    text-transform: uppercase;
    font-size: 205%;
    color: steelblue;
    margin: 5px;
}
#stripe {
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: lightgrey;
    padding: 5px;
}
.button{
    display: flex;
    background-color: inherit;
    border-radius: 5px;
    border: none;
    color: steelblue;
}
#reset {
    float: left;
    border: none;
    background-color: inherit;
    height: 100%;
    font-weight: 700;
    letter-spacing: 1px;
    font-size: inherit;
    outline: none;
    padding: 1px 7px;
    writing-mode: horizontal-tb !important;
    box-sizing: border-box;
}
#easyhard {
    display: flex;
    align-items: center;
    float: right;
    height: 100%;
    background-color: inherit;
    font-size: inherit;
    letter-spacing: 1px;
    outline: none;
    
    /* writing-mode: horizontal-tb !important; */
    box-sizing: border-box;
}

.message {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-self: flex-end;
    font-size: 20px;
    letter-spacing: 1px;    
    color: rgba(0,0,0,0.7);
    visibility: hidden;
    margin: 10px;
}
.squareContainer {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    
}
.square  {
    align-items: center;
    /* max-height: auto; */
    width: 30%;
    padding-bottom: 30%;
    border-radius: 6px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    transition-duration: 0.5s;
}
#alert{
    display: flex;
    align-content: center;
    align-self: flex-end;
    color: aliceblue;
    text-align: center;
}
.selected {
    border-radius: 8px;
    color: crimson;
    border-style:inset;  
    border-width: 2.5px;
    /* background-color: inherit; */
}