.body{
    background-color:#f0f8ff
}
.container {
    display: flex;
    flex-direction: column;
    align-content: space-around;
    flex-wrap: wrap;
}
h1{
    display: flex;
    padding: 0px 20px 0px 20px;
    justify-content: center;
    text-align: center;
    letter-spacing: 1rem;
    transition: 1s;
    border-radius: 10px;
    margin-left: 100px;
    margin-right: 100px;
    padding-top: 2%;
    padding-bottom: 2%;
    font-size: 200%;
    -webkit-text-stroke: 0.7px rgb (0, 0 ,0 );
    color: lightgray;
}
#colorDisplay {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    letter-spacing: 7px;
    text-align: center;
    text-transform: uppercase;
    font-size: 205%;
    color: steelblue;
    margin: 5px;
}
#stripe {
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: lightgrey;
    padding: 5px;
}
.button{
    display: flex;
    background-color: inherit;
    border-radius: 5px;
    border: none;
    color: steelblue;
}
#reset {
    float: left;
    border: none;
    background-color: inherit;
    height: 100%;
    font-weight: 700;
    letter-spacing: 1px;
    font-size: inherit;
    outline: none;
    padding: 1px 7px;
    writing-mode: horizontal-tb !important;
    box-sizing: border-box;
    border-radius: 8px;
    border-style:outset;  
    border-width: 2px;
}
#easyhard {
    background-color: inherit;
    display: flex;
    align-items: center;
    float: right;
    /* height: 100%; */
    /* font-size: inherit; */
    letter-spacing: 1px;
    outline: none;
    box-sizing: border-box;
}
#message {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-self: flex-end;
    font-size: 20px;
    letter-spacing: 1px;    
    color: rgba(0,0,0,0.7);
    visibility: hidden;
    margin: 10px;
    transition-duration: 0.5s;
}
.squareContainer {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    
}
.square  {
    align-items: center;
    width: 29%;
    padding-bottom: 30%;
    border-radius: 6px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: solid 2px rgb(211, 211, 211, 0.5) ;
    transition-duration: 0.5s;
}
#alert{
    color: rgb(70, 130, 180);
    border-radius: 5px;
    margin: -30px 200px 0px 200px;
    background-color: rgb(240, 248, 255, 80%);
    
}
.selected {
    /* color: crimson; */
    font-weight: bolder;
    border-radius: 8px;
    border-style:inset;  
    border-width: 2px;
}